body {
    background-color: #fff2dd;
}

.encabezado {
    display: flex;
    justify-content: space-around;
}

.log-o-registro {
    display: flex;
    justify-content: center;
    /* border: #939393  solid 1px; */
}

.login-opcion {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #dd3a01;
}

.registro-opcion {
    width: 50%;
    text-align: center;
}

.conteiner {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    flex-direction: column;
}

.mail {
    padding: 2%;
}

.contra {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: center;
}

.datos-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vh;
}

.boton-crear {

    margin: auto;
    display: block;
    background-color: #DD3A01;
    color: #FFF2DD;
}

.boton-crear:hover {
    box-shadow: 0px 0px 10px rgb(147, 147, 147);
}

a:visited {
    color: inherit;
}