<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewMen</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <header>
    <nav>

      <div>
      <img src="/img/Logo_New_Men.png" alt="Logo NewMen" />
      </div>
      <div>
        <input
          type="search"
          name="busqueda"
          id="busqueda"
          placeholder="Buscar..."/>
      </div>
      <div class="nav-iconos">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-user"></i>
      </div>
    </nav>

    <nav>
    </nav>
  </header>
  <body>
    <h1>hola mundo</h1>
    <a href="/login.html" title="login">login</a>
    <a href="/registro.html">Registrarme</a>
  </body>
</html>
