<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>
        <figure class="logo">
            <img src="/images/logo-new-men.svg" alt="Logo New Men">
        </figure>
        <h1>Iniciar sesión</h1>
    </header>

    <main>
        <h3>Iniciar sesión</h3>
        <h3>Registrarme</h3>
        <form action="resultado.html" method="POST">
            <label for="mail">Email:</label> <br>
            <input type="email" name="mail" id="mail">
        </form>
        <form action="contra.html" method="POST">
            <label for="contra">Contraseña:</label> <br>
            <input type="password" name="contra" id="contra">
        </form>
        <input type="checkbox" name="memory" value="y">
        <label>Recordarme</label>
        <a href="https://www.mayoclinic.org/es/healthy-lifestyle/healthy-aging/in-depth/memory-loss/art-20046518">¿Olvidaste
            tu contraseña?</a>
        <button type="submit">Iniciar sesión</button>
        <p>¿No tienes cuenta?<a href="registro.html">Registrate</a></p>
    </main>
</body>

</html>